{{#if currentUser}}
<div class="vp-panel-top" style="background-image: url('{{userCardBg}}');">
  <div class="vp-panel-contents">
    <div class="vp-panel-contents-top">
      {{mount-widget widget="vp-avatar"}}
      <div class="vp-new-topic">
        {{mount-widget widget="vp-topic"}}  
        {{new-topic-dropdown-panel category=category}}
      </div>
    </div>
    <div class="vp-panel-contents-stats">
      {{#if userLikesGiven}}
        <div class="likes">
          {{user-stat value=userLikesReceived icon="heart" label="user.summary.likes_received"}}
          {{user-stat value=userLikesGiven icon="heart" label="user.summary.likes_given"}}
        </div>
      {{/if}}
      {{#if stinkinBadges}}
        <div class="badges">
          {{#each stinkinBadges as |b|}}
            <a href="/badges/{{b.id}}/{{b.slug}}">
              {{#badge-button badge=b class=(concat "badge-type-" b.badge_type_id)}}
                {{#if b.multiple_grant}}
                  <span class="count">&nbsp;(&times;{{b.grant_count}})</span>
                {{/if}}
              {{/badge-button}}
            </a>
          {{/each}}
          <a href="/u/{{user}}/badges">
            {{#badge-button badge=b class=(concat "more-user-badges")}}
              <span class="count">további +({{moreBadges}}-{{stinkinBadges}})</span>
            {{/badge-button}}
          </a>
        </div>
      {{/if}}
    </div>
    <div class="vp-panel-contents-bottom">
      {{#if user}}
        <a class="vp-link" href="/my/summary">{{d-icon "user"}}</a>
        <a class="vp-link" href="/my/preferences/account">{{d-icon "cog"}}</a>
        <a class="vp-link" href="/my/activity/bookmarks">{{d-icon "bookmark"}}</a>
        <a class="vp-link" href="/my/messages">{{d-icon "envelope"}}</a>
        <a class="vp-link" href="/my/notifications">{{d-icon "bell"}}</a>
      {{/if}}
    </div>
  </div>
</div>
{{/if}}
