{{#if site.mobileView}}
  <div class="vp-panel-top" style="background-image: url('{{userCardBg}}');">
    <div class="vp-panel-contents">
      <div class="vp-panel-contents-top">
        <div class="vp-avatar">
          {{mount-widget widget="vp-avatar-panel"}}
        </div>
        <div class="vp-new-topic">
          {{mount-widget widget="vp-topic-panel"}}  
          {{new-topic-dropdown-panel category=category}}
        </div>
      </div>
      <div class="vp-panel-contents-stats">
        <div class="stats">
          {{#if userLikesGiven}}
            {{user-stat value=userLikesReceived icon="heart" label="user.summary.likes_received"}}  
            <a href="/u/{{user}}/activity/likes-given">
              {{user-stat value=model.likes_given icon="heart" label="user.summary.likes_given"}}
            </a>
          {{/if}}
          <a href="/u/{{user}}/activity/solved">
            {{user-stat value=userSolvedCount icon="check-square" label="solved.solution_summary.other"}}
          </a>
          <a href="/u/{{user}}/activity/topics">
            {{user-stat value=userTopicCount label="user.summary.topic_count"}}
          </a>
          <a href="/u/{{user}}/activity/replies">
            {{user-stat value=userPostCount label="user.summary.post_count"}}
          </a>
        </div>
      {{#if this.showBadges}}
        <div class="card-row">
          {{#if this.user.featured_user_badges}}
            <div class="badge-section">
              {{#each this.user.featured_user_badges as |ub|}}
                {{user-badge badge=ub.badge user=this.user}}
              {{/each}}
              {{#if this.showMoreBadges}}
                <span class="more-user-badges">
                  {{#link-to "user.badges" this.user}}
                    {{i18n "badges.more_badges" count=this.moreBadgesCount}}
                  {{/link-to}}
                </span>
              {{/if}}
            </div>
          {{/if}}
        </div>
      {{/if}}
        {{#if stinkinBadges}}
          <div class="badges">
            {{#each stinkinBadges as |b|}}
              <a href="/badges/{{b.id}}/{{b.slug}}">
                {{#badge-button badge=b class=(concat "badge-type-" b.badge_type_id)}}
                  {{#if b.multiple_grant}}
                    <span class="count">&nbsp;(&times;{{b.grant_count}})</span>
                  {{/if}}
                {{/badge-button}}
              </a>
            {{/each}}
            <a href="/u/{{user}}/badges">
              <span class="user-badge">
                <span class="count">összes ({{allBadges}})</span>
              </span>
            </a>
          </div>
        {{/if}}
      </div>
      <div class="vp-panel-contents-bottom">
        {{#if user}}
          <a class="vp-link" href="/u/{{user}}/summary">{{d-icon "user"}}</a>
          <a class="vp-link" href="/u/{{user}}/preferences/account">{{d-icon "cog"}}</a>
          <a class="vp-link" href="/u/{{user}}/activity/drafts">{{d-icon "pencil-alt"}} {{draftMy}}</a>
          <a class="vp-link" href="/u/{{user}}/activity/bookmarks">{{d-icon "bookmark"}}&nbsp;{{userBookmarkCount}}</a>
          <a class="vp-link" href="/u/{{user}}/messages">{{d-icon "envelope"}}</a>
          <a class="vp-link" href="/u/{{user}}/notifications">{{d-icon "bell"}}</a>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
