{{#if currentUser}}
  <div class="vp-panel">
    {{mount-widget widget="vp-avatar"}}
    <div class="vp-new-topic">
      {{mount-widget widget="vp-topic"}}  
      {{new-topic-dropdown-panel category=category}}
    </div>
    <div class="vp-stats">
      <h2>{{i18n (theme-prefix "sidebar.welcome")}}{{#if user}}{{i18n (theme-prefix "sidebar.back")}} {{user}}{{/if}}?</h2>
      <p class="quote-known">{{quote}}</p>
      {{#if userLikesGiven}}
        <div class="likes">
          <h3>{{i18n (theme-prefix "sidebar.likes_header")}}</h3>
          {{user-stat value=userLikesReceived icon="heart" label="user.summary.likes_received"}}
          {{user-stat value=userLikesGiven icon="heart" label="user.summary.likes_given"}}
        </div>
      {{/if}}
      {{#if stinkinBadges}}
        <div class="badges">
          <h3>{{i18n (theme-prefix "sidebar.badges_header")}}</h3>
          {{#each stinkinBadges as |b|}}
            <a href="/badges/{{b.id}}/{{b.slug}}">
              {{#badge-button badge=b class=(concat "badge-type-" b.badge_type_id)}}
                {{#if b.multiple_grant}}
                  <span class="count">&nbsp;(&times;{{b.grant_count}})</span>
                {{/if}}
              {{/badge-button}}
            </a>
          {{/each}}
        </div>
      {{/if}}
    </div>
    {{#if user}}
      <a class="sidebar-link" href="/my/summary">{{i18n (theme-prefix "sidebar.full_profile")}}</a>
    {{/if}}
  </div>
{{/if}}
